template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Serverless stack for automated data processing tasks

Metadata:
  AWS::ServerlessRepo::Application:
    Name: Athena Query execution
    Description: Implementation of Serverless Stack to execute queries
    Author: Jose Arevalo
    Labels:
      - state-machine
      - athena-query
    SemanticVersion: 0.1.0

Resources:
##########################################################################
# IAM Role for StateMachine
##########################################################################

  DataProcessingStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: latana.role.serverless-data-pipe.state-machine
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/CloudWatchFullAccess
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - arn:aws:iam::aws:policy/AmazonAthenaFullAccess

##########################################################################
# State Machine
##########################################################################
  AthenaQueriesStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString:
        Fn::Sub: |-
          {
            "Comment": "A description of my state machine",
            "StartAt": "Athena StartQueryExecution",
            "States": {
              "Athena StartQueryExecution": {
                "Type": "Task",
                "Resource": "arn:aws:states:::athena:startQueryExecution",
                "Parameters": {
                  "QueryString.$": "$.QueryString",
                  "WorkGroup": "primary",
                  "ResultConfiguration": {
                    "OutputLocation.$": "$.OutputLocation"
                  }
                },
                "Next": "Wait",
                "ResultSelector": {
                  "QueryExecution": {
                    "QueryExecutionId.$": "$.QueryExecutionId"
                  }
                }
              },
              "Wait": {
                "Type": "Wait",
                "Seconds": 10,
                "Next": "Athena GetQueryExecution"
              },
              "Athena GetQueryExecution": {
                "Type": "Task",
                "Resource": "arn:aws:states:::athena:getQueryExecution",
                "Parameters": {
                  "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId"
                },
                "Next": "Choice"
              },
              "Choice": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.QueryExecution.Status.State",
                    "StringEquals": "SUCCEEDED",
                    "Next": "Success"
                  },
                  {
                    "Variable": "$.QueryExecution.Status.State",
                    "StringEquals": "FAILED",
                    "Next": "Fail"
                  }
                ],
                "Default": "Wait"
              },
              "Success": {
                "Type": "Succeed"
              },
              "Fail": {
                "Type": "Fail"
              }
            }
          }
      RoleArn: !GetAtt DataProcessingStateMachineRole.Arn
