src/stm_star_query_execution.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Athena StartQueryExecution",
    "States": {
      "Athena StartQueryExecution": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:startQueryExecution",
        "Parameters": {
          "QueryString.$": "$.QueryString",
          "WorkGroup": "primary",
          "ResultConfiguration": {
            "OutputLocation.$": "$.OutputLocation"
          }
        },
        "Next": "Wait",
        "ResultSelector": {
          "QueryExecutionId.$": "$.QueryExecutionId"
        },
        "ResultPath": "$.QueryExecution"
      },
      "Wait": {
        "Type": "Wait",
        "Next": "Athena GetQueryExecution",
        "SecondsPath": "$.WaitSeconds"
      },
      "Athena GetQueryExecution": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:getQueryExecution",
        "Parameters": {
          "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId"
        },
        "Next": "Choice"
      },
      "Choice": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.QueryExecution.Status.State",
            "StringEquals": "SUCCEEDED",
            "Next": "Success"
          },
          {
            "Variable": "$.QueryExecution.Status.State",
            "StringEquals": "FAILED",
            "Next": "Fail"
          }
        ],
        "Default": "Wait"
      },
      "Success": {
        "Type": "Succeed"
      },
      "Fail": {
        "Type": "Fail"
      }
    }
}
